.App {
  min-height: 100vh;
}

.wrapper {
  display: grid;
  place-items: center;
  height: 50vh;
}

#form {
  width: 100%;
}

#form-output {
  padding: 20px;
  width: 50%;
  border: 1px solid black;
  border-radius: 20px;
}

.form__row, .output__row {
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 20px;
}

.form__row {
  margin-bottom: 20px;
}

.form__description, .output__item {
  width: 20%;
  text-align: center;
}

.form__description {
  font-weight: bold;
}

.delete-item {
  color: red;
  cursor: pointer;
}
